:root {
    --color-primary: #303030;
    --color-primary-dark: #292929;
    --color-accent: #9c4fcc;
    --color-accent-dark: #891ace;
    --color-accent-light: rgba(156, 79, 204, 0.5);
    --color-title: #fff;
    --color-text: #9b9b9b;
}
