:root {
    --color-primary: #303030;
    --color-primary-dark: #292929;
    --color-accent: #9c4fcc;
    --color-accent-dark: #891ace;
    --color-accent-light: rgba(156, 79, 204, 0.5);
    --color-title: #fff;
    --color-text: #9b9b9b;
}

body {
    overflow-x: hidden;
    background-color: var(--color-primary-dark);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
    font-weight: lighter;
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

h1 {
    color: var(--color-title);
    font-weight: normal;
}

h2,
h3,
h4,
.blockquote-footer cite {
    color: var(--color-text);
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#avatar img {
    width: 200px;
    border: 4px solid transparent;
    border-radius: 50%;
    background: linear-gradient(var(--color-accent-dark), var(--color-accent));
    background-clip: padding-box;
    padding: 8px;
    /* just to show box-shadow still works fine */
    -webkit-box-shadow: 0px 0px 40px 10px var(--color-primary);
    -moz-box-shadow: 0px 0px 40px 10px var(--color-primary);
    box-shadow: 0px 0px 40px 10px var(--color-primary);
}

#avatar h1 {
    font-size: 15px;
}

#avatar h2 {
    font-size: 18px;
}

#contact .fi {
    font-size: 20px;
    color: var(--color-primary);
}

#contact .fi:hover {
    color: var(--color-accent);
}


#download-cv .bd-highlight {
    background-color: var(--color-accent-light);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#download-cv .bd-highlight h3 {
    color: var(--color-title);
    cursor: default;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

#download-cv .bd-highlight:hover {
    background-color: var(--color-primary);
}

#download-cv .bd-highlight a {
    color: white;
    font-size: 15px;
    font-weight: normal;
}

#download-cv .bd-highlight {
    border-radius: 3px;
}
