:root {
  --color-primary: #303030;
  --color-primary-dark: #292929;
  --color-accent: #9c4fcc;
  --color-accent-dark: #891ace;
  --color-accent-light: rgba(156, 79, 204, 0.5);
  --color-title: #fff;
  --color-text: #9b9b9b;
}

body {
  overflow-x: hidden;
  background-color: var(--color-primary-dark);
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

h1 {
  color: var(--color-title);
  font-weight: normal;
}

h2,
h3,
h4,
.blockquote-footer cite {
  color: var(--color-text);
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#avatar img {
  width: 200px;
  border: 4px solid transparent;
  border-radius: 50%;
  background: linear-gradient(var(--color-accent-dark), var(--color-accent));
  background-clip: padding-box;
  padding: 8px;
  /* just to show box-shadow still works fine */
  -webkit-box-shadow: 0px 0px 40px 10px var(--color-primary);
  -moz-box-shadow: 0px 0px 40px 10px var(--color-primary);
  box-shadow: 0px 0px 40px 10px var(--color-primary);
}

#contact .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-primary-dark);
  background-color: white;
  /* just to show box-shadow still works fine */
  -webkit-box-shadow: 0px 0px 20px 5px var(--color-primary);
  -moz-box-shadow: 0px 0px 20px 5px var(--color-primary);
  box-shadow: 0px 0px 20px 5px var(--color-primary);
  text-decoration: none;
  padding: 20px;
}

#contact .fi {
  font-size: 16px;
}

#about-me a {
  color: var(--color-accent);
  text-decoration: none;
}

#work p,
#about-me p,
#about-me a {
  font-size: 15px;
}

#work .blockquote-footer {
  color: var(--color-accent);
  font-size: 12px;
}

#skills,
#work,
#about-me {
  background-color: var(--color-primary);
}

#skills .bd-highlight,
#download-cv .bd-highlight {
  background-color: var(--color-accent-light);
  margin: 3px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#skills .bd-highlight h3,
#download-cv .bd-highlight h3 {
  color: var(--color-title);
  cursor: default;
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
}

#skills .bd-highlight:hover,
#download-cv .bd-highlight:hover {
  background-color: var(--color-primary);
}

#download-cv .bd-highlight a {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

#download-cv .bd-highlight {
  border-radius: 8px;
}
